.logoloop {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.logoloop--vertical {
  height: 100%;
}

.logoloop__track {
  display: flex;
  will-change: transform;
}

.logoloop--horizontal .logoloop__track {
  flex-direction: row;
}

.logoloop--vertical .logoloop__track {
  flex-direction: column;
}

.logoloop__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: var(--logoloop-gap, 32px);
}

.logoloop--horizontal .logoloop__list {
  flex-direction: row;
  align-items: center;
}

.logoloop--vertical .logoloop__list {
  flex-direction: column;
  align-items: center;
}

.logoloop__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--logoloop-logoHeight, 28px);
  flex-shrink: 0;
}

.logoloop__link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  transition: transform 0.2s ease;
}

.logoloop--scale-hover .logoloop__item:hover {
  transform: scale(1.1);
}

.logoloop__node {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--logoloop-logoHeight, 28px);
  width: auto;
  height: var(--logoloop-logoHeight, 28px);
}

.logoloop__item img {
  height: var(--logoloop-logoHeight, 28px);
  width: auto;
  object-fit: contain;
  display: block;
}

.logoloop--fade {
  mask-image: linear-gradient(
    to right,
    transparent,
    black calc(var(--logoloop-fadeWidth, 100px)),
    black calc(100% - var(--logoloop-fadeWidth, 100px)),
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black calc(var(--logoloop-fadeWidth, 100px)),
    black calc(100% - var(--logoloop-fadeWidth, 100px)),
    transparent
  );
}

.logoloop--vertical.logoloop--fade {
  mask-image: linear-gradient(
    to bottom,
    transparent,
    black calc(var(--logoloop-fadeWidth, 100px)),
    black calc(100% - var(--logoloop-fadeWidth, 100px)),
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent,
    black calc(var(--logoloop-fadeWidth, 100px)),
    black calc(100% - var(--logoloop-fadeWidth, 100px)),
    transparent
  );
}
